
@container-width: 900px;

*{
    margin: 0px;
    padding: 0px;
}

.content{
    width: @container-width;
    margin: 20px auto;
}

.contentmain{
    width: @container-width;
    margin: 0px auto;
}

.contentlogin{
    width: 300px;
     margin: 50px auto;
}

.searchbtn{
    height: 90%;
}

.carimg {
   max-height:200px;

}

.uderlineonhover:hover{
    text-decoration: underline;
}